# Backend API
VITE_API_BASE=http://localhost:8000

# VdoCipher API Configuration
VITE_CIPHER_API_URL=https://test.campuscare.cloud/
VITE_CIPHER_API_TOKEN=Bearer <your_auth_token_here>
VITE_CIPHER_API_KEY=0x<your_api_key_here>
VITE_CIPHER_ENCRYPTION_KEY=0x<your_encryption_key_here>
VITE_CIPHER_SCHOOL_CODE=Entab
VITE_CIPHER_THEME=9ae8bbe8dd964ddc9bdb932cca1cb59a
